{% for todo in todos %}
    <tr>
        <th scope="row">{{ todo.user }}</th>
        <td>{{ todo.text }}</td>
        <td>
            {% if todo.is_completed %}
                <span class="completed-text">Completed</span>
            {% else %}
                <span class="uncompleted-text">Not Completed</span>
            {% endif %}
        </td>
        <td>{{ todo.created_time }}</td>
        <td>{{ todo.last_updated }}</td>
        <td>
            {% if todo.is_completed %}
                <button type="button" class="btn btn3d-uncomplete" data-id  = {{ todo.id }}>Uncomplete</button>
            {% else %}
                <button type="button" class="btn btn3d-complete" data-id  = {{ todo.id }}>Complete</button>
            {% endif %}
            <button type="button" class="btn btn3d-delete" data-id  = {{ todo.id }}>Delete</button>
        </td>
    </tr>
{% endfor %}