{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block customHead %}
    <style>
        body, html {
            height: 100%;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="card card-body bg-light">
                    <form id="login-form" method="post"
                          action="{% url 'login' %}">
                        {% csrf_token %}
                        <table class="table">
                            <tr>
                                <td><label for="id_username">Username</label></td>
                                <td><input id="id_username" name="username"
                                           type="text" class="form-control"></td>
                            </tr>
                            <tr>
                                <td><label for="id_password">Password</label></td>
                                <td><input id="id_password" name="password"
                                           type="password" class="form-control"></td>
                            </tr>
                        </table>
                        {% if form.errors %}
                            <p class=" label label-danger">
                                Your username or password is worng
                            </p>
                        {% endif %}

                        <input type="submit" value="Login"
                               class="btn btn-primary pull-right" />
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}